Source: update-systemd-boot
Section: utils
Priority: optional
Maintainer: zsien <i@zsien.cn>
Build-Depends:
 debhelper-compat (= 12),
Standards-Version: 4.4.0
Homepage: https://github.com/zsien/update-systemd-boot
Vcs-Git: https://github.com/zsien/update-systemd-boot.git
Vcs-Browser: https://github.com/zsien/update-systemd-boot

Package: update-systemd-boot
Architecture: all
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Description: Script to copy kernel files to systemd-boot directory.
 Script to copy kernel files to systemd-boot directory after
 kernel updates.
